html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f4f4f; /* Dark Slate Gray */
}

canvas {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #f5f5f5; /* White Smoke */
}

button {
  background-color: #00000000; /* Green */
  border: 2px solid #f5f5f5; /* White Smoke */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b8b8b8; /* Darker Green */
}

#scan {
  background-color: #fff;
  width: 100%;
  height: 100%;
}