html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212; /* Dark Slate Gray */
  font-family: "Space Mono", monospace;
  font-weight: 200;
  font-style: normal;
  color: #fefefe;
}

h1 {
  color: #fefefe;
  font-weight: 100;
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  color: #fefefe;
  font-weight: 100;
}

canvas {
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


button {
  background-color: #00000000; /* Green */
  border: 2px solid #fefefe; /* White Smoke */
  color: #fefefe;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #feb0ed; /* Darker Green */
}

#scan {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

/* CSS */
.button-54 {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fefefe;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.button-large {
  font-size: 1.2em; /* Adjust the size as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
}